.action-request-status {
    color: #1f2b37;
    border-color: #969fa7;
    background-color: #d5d8dc;

    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 11px;
    border: 1px solid #aaa;

    color: #fff;
    background-color: rgba(13,110,253,1);
    border: 1px solid rgba(13,110,253,0.5);
}


.approve-btn {
    background-color: #00d1b2 !important;
    box-shadow: none !important;
}

.finish-btn {
    background-color: #48c78e !important;
    box-shadow: none !important;
}

.card-request-content {
    font-size: 1.6rem;
}

.card-request-header .title {
    font-size: 2rem;
}

.card-request-header .sub-title {
    font-size: 0.8rem;
}

.request-price {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}